# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\osvaldo\Projects\C-Course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea
